/*ESTILIZAÇÃO(CORPO DO CARDÁPIO)*/
.Body{
    margin-left: 10px;
    margin-right: 10px;
}
/*ESTILIZAÇÃO(PRATOS-TITULO)*/
h1{
    color: #B2111E;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*ESTILIZAÇÃO(CONTAINER QUE CONTÉM CARDÁPIO)*/
.cardapio{
    margin-bottom: 40px;
}

.pratos-cardapio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #f6f6f6;
}

/*NOMES, IMAGENS E PREÇOS DOS PRATOS*/
.prato{
    padding: 10px;
    margin: 28px;
}
.pratos-cardapio{
    text-align: center;
}
.imgContainer-cardapio .img-responsive{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
.adcPedido .botao-adcPed{
    border-radius: 16px;
    padding: 10px;
    color: #B2111E;
    border: solid #B2111E 1px;
    background: #ffffff;
    cursor: pointer;
}
.adcPedido .botao-adcPed:hover{
    background: rgba(178, 17, 30, 0.712);
    color: white;
}
/*ESTILIZAÇÃO SOBRE O BOTÃO VER MAIS*/
.center-button{
    display: flex;
    justify-content: center;
}
.center-button button.accordion {
    background-color: #ffffff00;
    border-radius: 16px;
    color: #B2111E;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border: solid #B2111E 2px;
    text-decoration: none;
    cursor: pointer;
}
.center-button button.accordion:hover, .center-button button.active {
    opacity: 0.7;
    background: #B2111E;
    text-decoration: none;
    color: white;
}
div.accordion{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}



