/*CORPO DO SOBRE NÓS*/
h1{
    color: #B2111E;
    margin: 20px;
    font-size: 40px;
    text-align: center;
}
.container{
    background: #f6f6f6;
}
.txtSobreNos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobrenos_logo{
    margin-top: 20px;
}
.texto_sobrenos{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

/*FOOTER*/
.h3{
    background: #696969;
    align-items: center;
}